<div class="container-comentarios">
    <div class="container-title">
        <h2 class="container-title__title title-contactenos">Comentarios</h2>
    </div>
    <mat-grid-list cols="2" rowHeight="2:1" class="container-comentarios__grid-container">
        <mat-grid-tile class="container-comentarios__grid-container__comment">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consect</div>
        </mat-grid-tile>
      </mat-grid-list>      
</div>
