<div class="container-contactenos">
    <div class="container-contactenos__blur">
        <div class="container-title">
            <h2 class="container-title__title title-contactenos">Contáctenos</h2>
        </div>
        <div class="container-contactenos__form">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1" class="container-contactenos__form__label">Nombre</label>
                  <input type="email" class="form-control container-contactenos__form__input" id="exampleFormControlInput1" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1" class="container-contactenos__form__label">Correo</label>
                    <input type="email" class="form-control container-contactenos__form__input" id="exampleFormControlInput1" placeholder="name@example.com">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlInput1" class="container-contactenos__form__label">Celular</label>
                    <input type="email" class="form-control container-contactenos__form__input" id="exampleFormControlInput1" placeholder="">
                  </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1" class="container-contactenos__form__label">Servicio</label>
                  <select class="form-control container-contactenos__form__input" id="exampleFormControlSelect1">
                    <option class="Show principal">Show principal</option>
                    <option class="Show bohemio">Show bohemio</option>
                    <option class="Show electro">Show electro</option>
                    <option class="Show jazz and blues">Show jazz and blues</option>
                    <option class="Show juvenil">Show juvenil</option>
                    <option class="Show personalizado">Show personalizado</option>
                    <option class="Show rock and sax">Show rock and sax</option>
                    <option class="Show romantico">Show romantico</option>
                    <option class="Music World Academy">Music World Academy</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1" class="container-contactenos__form__label">Mensaje</label>
                  <textarea class="form-control container-contactenos__form__input" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group row container-botones">
                    <a href="https://www.facebook.com/"><img src="../../assets/icons/instagram.png" class="container-contactenos__form__img"></a>
                    <a href="https://www.facebook.com/"><img src="../../assets/icons/soundcloud.png" class="container-contactenos__form__img"></a>
                    <a href="https://www.facebook.com/"><img src="../../assets/icons/logo-de-facebook.png" class="container-contactenos__form__img"></a>
                    <button type="submit" class="btn mb-2 container-contactenos__form__btn">Enviar</button>
                </div>
              </form>
        </div>
    </div>
</div>