<div class="container-sobre-mi">
    <div class="container-title">
        <h2 class="container-title__title title-contactenos">Sobre Mi</h2>
    </div>
    <div class="row container-sobre-mi__row">
        <div class="col-md container-sobre-mi__row__text">
          Lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqua acc lorem sed diam. Ut enim ad minim veniam, quis nostr one mover. Excepteur sint occaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqua acc
        </div>
        <div class="col-md container-sobre-mi__row__imagen">
            <div class="container-sobre-mi__row__imagen__img"></div>
        </div>
      </div>
</div>
