<div class="container-sobre-mi">
    <div class="container-title">
        <h2 class="container-title__title title-contactenos">Sobre Mi</h2>
    </div>
    <div class="row container-sobre-mi__row">
        <div class="col-md container-sobre-mi__row__text">
          Alexander Casas, músico saxofonista con énfasis en saxofón clásico de la universidad Distrital Francisco José de Caldas UDFJC de la facultad de artes ASAB. (Bogotá, Colombia).
          Inicia su formación académica en el año 2015 bajo la tutoría de los maestros Enmanuel Peralta, Adalber Gaviria y César Villamil Medina recibiendo clases magistrales con la maestra Lorena Rios (Medellín) y el maestro Iñigo Setuaín (España). 

          En el 2017 inicia el trabajo con su marca personal AlexCasaxMusic a la par del proyecto World Saxophone, un show que ha podido presentar en locaciones como: Centro de convenciones Compensar, centro de eventos Ecopetrol, Sala de eventos hotel Habitel ; en eventos privados para hotel GHL 93, concesionario Chevrolet, hotel Tequendama, Universidad Uniandinos, hotel Hilton Garden Inn, CM hoteles, hotel Hilton (Cartagena), hotel Sonesta, y ha trabajado además, como músico de planta en restaurantes como Santafé Café y restaurante, restaurante Tbone, Berlin Coccina Italiana y Liberty restaurante. 

        </div>
        <div class="col-md container-sobre-mi__row__imagen">
            <div class="container-sobre-mi__row__imagen__img"></div>
        </div>
      </div>
</div>
