<div class="container-servicios">
    <div class="container-title">
        <h2 class="container-title__title title-contactenos">Servicios</h2>
    </div>
    <div class="row container-servicios__row">
        <div class="col-md container-servicios__row__item" data-toggle="modal" data-target="#myModal">
            <h3>Servicio 1</h3>
            <mat-icon class="container-servicios__row__item__icon">school</mat-icon>
            <div class="container-servicios__row__item__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Lorem ipsum dolor sit amet, consect</div>
        </div>
        <div class="col-md container-servicios__row__item" data-toggle="modal" data-target="#myModalService2">
            <h3>Servicio 2</h3>
            <mat-icon class="container-servicios__row__item__icon">mic</mat-icon>
            <div class="container-servicios__row__item__descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Lorem ipsum dolor sit amet, consect</div>
        </div>
    </div>
</div>

<!-- Modal Servicio 1-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-service-one">
        <div class="modal-content modal-service-one__content">
            <div class="modal-header modal-service-one__content__header">
                <h4 class="modal-title" id="myModalLabel">Servicio 1</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body modal-service-one__content__body">
                <div role="tabpanel modal-service-one__content__body__tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs modal-service-one__content__body__tabpanel__ul" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#uploadTab" class="modal-service-one__content__body__tabpanel__ul__a"
                                aria-controls="uploadTab" role="tab" data-toggle="tab">Tipo 1</a>

                        </li>
                        <li role="presentation">
                            <a href="#browseTab" class="modal-service-one__content__body__tabpanel__ul__a"
                                aria-controls="browseTab" role="tab" data-toggle="tab">Tipo 2</a>

                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content modal-service-one__content__body__tabpanel__tab">
                        <div role="tabpanel" id="uploadTab" class="tab-pane active">
                            <div class="container-fluid">
                                <div class="row modal-service-one__content__body__tabpanel__tab__row">
                                    <div class="col-md modal-service-one__content__body__tabpanel__tab__row__text">
                                        <h3>Tipo 1</h3>
                                        Lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqua acc lorem
                                        sed diam. Ut enim ad minim veniam, quis nostr one mover. Excepteur sint occaecat
                                        cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem
                                        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectet ut labore et dolore
                                        magna aliqua acc
                                    </div>
                                    <div class="col-md modal-service-one__content__body__tabpanel__tab__row__imagen">
                                        <div class="modal-service-one__content__body__tabpanel__tab__row__imagen__img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" id="browseTab" class="tab-pane">
                            <div class="container-fluid">
                                <div class="row modal-service-one__content__body__tabpanel__tab__row">
                                    <div class="col-md modal-service-one__content__body__tabpanel__tab__row__text">
                                        <h3>Tipo 2</h3>
                                        Lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqua acc lorem
                                        sed diam. Ut enim ad minim veniam, quis nostr one mover. Excepteur sint occaecat
                                        cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem
                                        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectet ut labore et dolore
                                        magna aliqua acc
                                    </div>
                                    <div class="col-md modal-service-one__content__body__tabpanel__tab__row__imagen">
                                        <div class="modal-service-one__content__body__tabpanel__tab__row__imagen__img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Servicio 2-->
<div class="modal fade" id="myModalService2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-service-one">
        <div class="modal-content modal-service-one__content">
            <div class="modal-header modal-service-one__content__header">
                <h4 class="modal-title" id="myModalLabel">Servicio 1</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span> </button>
            </div>
            <div class="modal-body modal-service-one__content__body">
                <div class="container-fluid">
                    <div class="row modal-service-one__content__body__tabpanel__tab__row">
                        <div class="col-md modal-service-one__content__body__tabpanel__tab__row__text">
                            Lorem ipsum dolor sit amet, consectet ut labore et dolore magna aliqua acc lorem
                            sed diam. Ut enim ad minim veniam, quis nostr one mover. Excepteur sint occaecat
                            cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id Lorem
                            ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectet ut labore et dolore
                            magna aliqua acc
                        </div>
                        <div class="col-md modal-service-one__content__body__tabpanel__tab__row__imagen">
                            <div class="modal-service-one__content__body__tabpanel__tab__row__imagen__img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>