.conainer-show-component{
    position: relative;
    height: auto;
    width: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    &__img{
        position: relative;
        height: auto;
        width: 40%;
        &__personalizado{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-personalizado.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__principal{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-principal.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__bohemio{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-bohemio.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__electro{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-electro.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__jazz-and-blues{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-blues.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__juvenil{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-juvenil.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__romantico{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show-romantico.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__rock-and-sax{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/show_rock.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
        &__clases{
            height: 100%;
            width: 100%;
            background-image: url('../../assets/img/tipos-show/clases.jpg');
            background-repeat: no-repeat;
            background-position: initial;
            background-size: cover;
        }
    }
    &__info{
        position: relative;
        height: 100%;
        width: 60%;
        &__body-text{
            width: 100%;
            padding: 10%;
            color: white;
        }
        &__soundcloud{
            position: relative;
            width: 50%;
            left: 20%;
            margin: 5%;
        }
    }
}

.title-contactenos{
    color: white;
}